@{
    ViewBag.Title = "_Menu";
}

<ul id="menu">
    @* <li><a href="../home/index">@MvcBookStore.Views.Home.HomeResource.menu1 </a></li>*@
     <li><a href="../genre/index">@MvcBookStore.Views.Home.HomeResource.menu2</a></li>
     <li><a href="../writer/index">@MvcBookStore.Views.Home.HomeResource.menu3</a></li>
     <li><a href="../book/index">@MvcBookStore.Views.Home.HomeResource.menu4</a></li>  
</ul>
    